.iconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tippy-box {
    font-size: 12px;
    background-color: #f6f7f9;
    border: 1px solid #e9ecef;
    color: #082032;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    padding: 3px;
}

.tippy-arrow:before {
    color: #edf0f2;
    transform: translateY(1px);
}
