:root {
    --primitive-accent: 210, 100%;
    --special-accent: 139, 64%;

    --primitive-background: #F7FBFD;
    --primitive-box-shadow: 1px 2px 5px rgba(86, 104, 117, 0.11);
    --primitive-border: 1px solid #CFDAE1;
}

.connection {
    --connection-path-width: 2px;
    --connection-path-colour: #3E94C5;
}

/* Default/Fallback Node Variables */
.node, .action, .function {
    --background: #F7FBFD;
    --box-shadow: 1px 2px 5px rgba(86, 104, 117, 0.11);
    --border: 1px solid #CFDAE1;

    --font-size: 12px;
    --line-height: 15px;

    --width: 135px;
    --height: 45px;

    --connector-size: 6px;
    --connector-background: #FFFFFF;
    --connector-border: 1.5px solid #3E94C5;
    --connector-error-border: 1.5px solid #EC4F79;
    --connector-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.07);

}

/* Primitive Node Type Variables */
.node.primitive, .action.primitive {
    --background: #F7FBFD;
    --box-shadow: 1px 2px 5px rgba(86, 104, 117, 0.11);
    --border: 1px solid #CFDAE1;
}

/* Special Node Type Variables */
.node.special, .action.special {
    --background: #caf5e1;
    --box-shadow: 1px 2px 5px rgba(86, 104, 117, 0.11);
    --border: 1px solid #CFDAE1;
}

.node.special.type-error{
    --background: #ffeebc ;
    --box-shadow: 1px 2px 5px rgba(86, 104, 117, 0.11);
    --border: 1px solid #e1e1cf;
}

.jq-example{
    color: var(--theme-brand-blue);
}

.error-message {
    font-size: 14px;
    background-color: #FFC0C5;
    margin: 0px 7px 10px;
}

.how-to-jq {
    max-width: 480px;
}

.error-message span {
    padding: 0px 5px 0px 0px;
    font-weight: bold;
    font-size: 16px;
}

@media screen and (max-width: 1450px) {
    .box-wrap {
        flex-direction: column;
    }
    .how-to-jq {
        max-width: 100%;
    }
}


/* builder */
#builder-form .field-description{
    font-size: 9px;
    line-height: 12px;
    margin-bottom: 4px;
}
#builder-form .control-label {
    font-size: 11px;
    line-height: 13px;
}

#builder-form .checkbox label {
    font-size: 11px;
    line-height: 13px;
    display: flex;
    
}

#builder-form #root__title {
    margin-bottom: 9px;
    font-size: 21px;
}

#builder-form legend {
    margin-bottom: 6px;
    font-size: 17px;
}

#builder-form input {
    width: calc(100% - 15px);
    line-height: 20px;
}

#builder-form {
    min-width: 190px;
}

#builder-page .toolbar {
    width: 100%;
    padding: 3px;
    align-items: center;
    height: 48px;
    display: flex;
    gap: 6px;
}

#builder-page .toolbar-btn {
    user-select: none;
    color: var(--theme-dark);
    cursor: pointer;
    /* border-radius: var(--theme-border-radius); */
    /* background-color: var(--theme-brand-blue); */
    height: 48px;
    font-size: 12px;
    transition: filter 0.1s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3px;
}

#builder-page .toolbar-btn:hover {
    background-color: var(--theme-background);
}

#builder-page .toolbar .btn {
    height: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    line-height: unset;
}

#builder-page .panel {
    width: 100%;
    height: 100%;
    /* overflow: auto; */
}

#builder-page .function-btn {
    padding-top: 0px;
    padding-bottom: 0px;
    width: 100%;
    text-align: center;
    margin-bottom: 6px;
}

#builder-page .panel.left {
    border-right: 7px solid rgb(131, 131, 131);
}

#builder-page .panel.right {
    border-left: 7px solid rgb(131, 131, 131);
}

#builder-page .node {
    background: var(--background);
    box-shadow: var(--box-shadow);
    border: var(--border);

    border-radius: 4px;
    font-size:  var(--font-size);
    line-height:  var(--line-height);

    width: var(--width);
    min-height: var(--height);
    padding: 10px
}

#builder-page .drawflow_content_node {
    display: flex;
    justify-content: space-between;
}

#builder-page .drawflow_content_node .node-labels {
    color: #566875;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

#builder-page .node-labels > div{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 4px;
}

#builder-page .node-labels .label-id{
    color: #3E94C5;
    font-weight: 700;

    border: none;
    display: inline;
    font-family: inherit;
    font-size: inherit;
    padding: 0;
    line-height: inherit;
    background: none;
    pointer-events: none;
}

#builder-page .node-labels .label-type{
    color: #082032;
}


#builder-page .drawflow_content_node .node-actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

#builder-page .node-actions .node-btn{
    color: #566875;
    font-weight: bolder;
    writing-mode: vertical-rl;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: end;
    height: 15px;
    width: 6px;
    padding: 4px;
    cursor: pointer;
}

#builder-page .node-actions .node-btn:hover{
    color: #7a94a7;
}


#builder-page .connection .main-path{
    stroke: var(--connection-path-colour);
    stroke-width: var(--connection-path-width);
}

#builder-page .connection .main-path:hover{
    stroke: #a3a3a3;
}

#builder-page .parent-drawflow{
    background-size: 25px 25px;
    background-image: linear-gradient(to right, #f1f1f1 1px, transparent 1px), linear-gradient(to bottom, #f1f1f1 1px, transparent 1px);
}


/* INPUTS */
#builder-page .node .inputs div {
    background: var(--connector-background);
    border: var(--connector-border);
    box-shadow: var(--connector-box-shadow);
    width: var(--connector-size);
    height: var(--connector-size);
    left: -15px;
    top: 0px;
    margin-bottom: 0px;
}

#builder-page .node .outputs div {
    background: var(--connector-background);
    border: var(--connector-border);
    box-shadow: var(--connector-box-shadow);
    width: var(--connector-size);
    height: var(--connector-size);
    left: 6px;
    top: 0px;
    margin-bottom: 4px;
    margin-top: 4px;
}

#builder-page .node.primitive .outputs div:nth-of-type(2) {
    border: var(--connector-error-border);
}

#builder-page .node.primitive.type-eventXor .outputs div:nth-of-type(1) {
    border: var(--connector-error-border);
}

#builder-page .node.type-error .inputs div:nth-of-type(1) {
    border: var(--connector-error-border);
}

/* #builder-page .node .inputs {
    align-self: flex-end;
    margin-right: 30px;
    z-index: 15;
}

#builder-page .node .inputs div {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(90deg);
    background: transparent;
    border: none;
    color: #f4f4f4;
    font-size: x-large;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
}


#builder-page .node .inputs div::after {
    content: "▲";
}





#builder-page .node .outputs div::after {
    content: "▲";
}

#builder-page .node .outputs {
    position: absolute;
    bottom: 3px;
    right: 0;
    margin-right: 30px;
    z-index: 15;
}

#builder-page .node .outputs div {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(90deg);
    background: transparent;
    border: none;
    color: #f4f4f4;
    font-size: x-large;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
}


#builder-page .node .outputs div::after {
    content: "▲";
} */


/* Actions Bar */

#builder-page .action {
    width: 100%;
    margin: 5px;
    border-radius: 4px;
    background: var(--background);
    box-shadow: var(--box-shadow);
    border: var(--border);
}

#builder-page .action span {
    color: #082032;
}

/* Function Bar */

#builder-page .function {
    margin: 6px;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 4px;
    width: 100%;

    background: var(--background);
    box-shadow: var(--box-shadow);
    border: var(--border);
    font-size:  var(--font-size);
    line-height:  var(--line-height);
}


/* Special */
#root_transform_keyValue__title{
    
}

/* CONTEXT MENU */
.context-menu {
    font-size: 14px;
    background-color: #fff;
    border-radius: 2px;
    padding: 0px 2px 5px 2px;
    width: 150px;
    height: auto;
    margin: 0;
  /* use absolute positioning  */
    position: absolute;
    list-style: none;
    box-shadow: 0 0 20px 0 #ccc;
    opacity: 1;
    transition: opacity 0.5s linear;
    z-index: 90;
}

#context-menu ul {
    list-style: none;
    margin: 0px;
    padding-left: 0px;
}

#context-menu li {
    cursor: pointer;
    padding-left: 5px;
}

#context-menu li:hover {
    background-color: #e5e5e5;
    padding-left: 6px;
}

#context-menu input {
    height: 24px;
}

/* Node Buttons */

#builder-page .node-btn-edit {
    text-decoration: underline;
    cursor: pointer;
}

#builder-page .node-btn-edit:hover {
    font-weight: bold;
}



/* FORM!!!!!!!!!!! PLEASE MOVE */
#builder-page fieldset .form-group.field.field-string > .row {
    display: flex;
}

#builder-page fieldset .form-group.field.field-string > .row > .form-additional{
    flex:1;
    align-self: end;
    width: 10%;
    min-width: 100px;
    max-width: 400px;
}

#builder-page fieldset .form-group.field.field-string > .row > .form-group.form-additional{
    flex:4;
    align-self: end;
}


/* Key Value labels */
#builder-page fieldset .form-group.field.field-string > .row label{
    display: none;
}

#builder-page fieldset > .form-group.field.field-string:first-of-type  > .row label{
    display: unset;
    visibility: hidden;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
}

#builder-page fieldset > .form-group.field.field-string:first-of-type  > .row  .form-additional label:after{
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    content:'Key';
}

#builder-page fieldset > .form-group.field.field-string:first-of-type  > .row  .form-group.form-additional label:after{
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    content:'Value';
}

#builder-page fieldset > .form-group.field.field-string:first-of-type  > .row > div:last-of-type{
    display: flex;
    justify-content: end;
    align-items: end;
}

/* REMOVE button */
#builder-page fieldset .form-group.field.field-string > div .glyphicon-remove::before{
    content: "X";
}

#builder-page fieldset .form-group.field.field-string > div .btn.btn-danger{
    height:33px;
}

td > code {
    white-space: nowrap;
}

/* ADD ITEM */

#builder-page fieldset .glyphicon-plus::before{
    content: "+ Add Items";    
    color: #3E94C5;
    font-size: 14px;
}

#builder-page fieldset .btn-add{
    width: 100%;
    border: 1px solid #D4E6F0;
    background: rgba(62, 148, 197, 0.03);
    box-shadow: 2px 2px 6px rgba(44, 57, 75, 0.04);
    border-radius: 4px;
    padding: 12px 3px 12px 3px;
    height: 33px;
    line-height: 17px;
}

#builder-page fieldset .btn-group{
    gap: 16px;
}

#builder-page fieldset .row.array-item-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#builder-page fieldset div.field{
    padding-bottom: 12px;
}

#builder-page fieldset div.field.field-object{
    padding-bottom: 0px;
}

#builder-page fieldset div.row > p{
    margin: 0px;
}

#builder-page fieldset div.row > p{
    margin: 0px;
}

#builder-page fieldset input[type="text"]{
    height: calc(33px - (0.65*2px));
    line-height: 17px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#builder-page fieldset select{
    height: 33px;
    line-height: 17px;
}

#builder-page fieldset .btn-group .btn-danger{
    width: 100%;
    background: rgba(236, 79, 121, 0.02);
    border: 1px solid #FFDFE7;
    box-shadow: 2px 2px 6px rgba(44, 57, 75, 0.04);
    box-shadow: 2px 2px 6px rgba(44, 57, 75, 0.04);
    border-radius: 4px;
    padding: 12px 3px 12px 3px;
    height: 33px;
    line-height: 17px;
}

#builder-page fieldset .glyphicon-arrow-up::before{
    color:  #566875;
}

#builder-page fieldset .glyphicon-arrow-down::before{
    color:  #566875;
}

#builder-page fieldset .btn-default{
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #DBE2EA;
    box-sizing: border-box;
    box-shadow: 2px 2px 6px rgba(44, 57, 75, 0.04);
    border-radius: 4px;
    padding: 12px 3px 12px 3px;
    height: 33px;
    line-height: 17px;
}

#builder-page fieldset .btn-group .btn-danger .glyphicon-remove::before{
    color: #EC4F79;
    font-size: 14px;
}

#builder-page fieldset div.row.array-item-list > .array-item:last-of-type {
    padding-bottom: 12px;
}



/* PLEASE MOE TO ANOTHER FILE */

#builder-page textarea {
    resize: vertical;
    height: 80px;
}